* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  html,
  body {
    background: var(--clr_dark);
    font-family: "Space Grotesk", sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    list-style: none;
  }
  
  :root {
    --clr_dark: #ffffff00; 
    --clr_light: #04deff;
  }
  
  header {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .marquee {
    overflow: hidden;
    display: flex;
    background-color: var(--clr_light);
    color: var(--clr_dark);
   
  }
  
  .marquee h1 {
    font-size: 6rem;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000000;
  }
  
  img{
    display: inline-flex;
    width: max-content; /* Set the desired width */
    height:150px; /* Set the desired height */
    object-fit: contain; /* Maintain aspect ratio */
    padding: 0px;
    vertical-align:middle;
  }

  .servir {
    display: inline-flex;
    height: 60px;
    width: max-content;
    vertical-align: middle;
    object-fit: contain;
    padding: 0px;
  }